<share-buttons [theme]="'circles-dark'"
               [include]="['facebook','twitter','google','linkedin','pinterest','reddit','tumblr','whatsapp','messenger','telegram','vk','stumble','xing','email']"
               [show]="17"
               [size]="4"
               [url]="'https://bit.ly/2ApWVS5'"
               [title]="'Current air quality is ' + rssFeed.getLatestAQI() + ' AQI' + '\n' + 'Source: '"
               [description]="'Current air quality is ' + rssFeed.getLatestAQI() + ' AQI'+ '\n' + 'Source: '">
</share-buttons>
