div.scrollmenu {

  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu mat-card {
  width: 80%;
  height: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-left: -10px;
  text-decoration: none;
  border-radius: 50px/50%;

}

div.scrollmenu mat-card:hover {
  background-color:#FFFFFF;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */

.container {

  height: 1%;
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;

  font-size: 100%;
}

.centered {

  position: absolute;
  top: 50%;
  font-family: 'Montserrat', sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
}
.down {
  font-family: 'Montserrat', sans-serif;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40%;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.photo{
  position: relative;
  width: 100%;
}

.txt{

  position: absolute;
}

::ng-deep .list {
  width: 100%;
  background: #FFFFFF;
  border-radius: 4%;
}

.card {
  margin-top: 3%;
  height: 40%;
  margin-left: 5%;
}

.size {
  width: 10px !important;

}
.hidden{
  display: none;
}
